<div
  class="userInfo border-end bg-dark text-light d-flex flex-column justify-content-between"
>
  <div class="d-flex flex-column">
    <div
      class="username border-bottom d-flex justify-content-center align-items-center pt-3 flex-column"
    >
      <div class="avatar mb-2 text-center">
        <img src="../uploads/userUploads/<%= userData.pic %>" alt="" />
      </div>
      <h5 class="m-0">@<%= userData.username %></h5>
      <small class="m-0 mb-3">
        <%= userData.firstName %> <%= userData.lastName %></small
      >
    </div>
    <div
      class="d-flex gap-4 pt-3 text-center justify-content-center align-items-center"
    >
      <div class="count">
        <p class="m-0">post</p>
        <span class="m-0"><%= userData.posts.length %></span>
      </div>
      <div class="count">
        <p class="m-0">Followers</p>
        <span class="m-0"><%= userData.followers.length %></span>
      </div>
      <div class="count">
        <p class="m-0">Following</p>
        <span id="following" class="m-0"><%= userData.following.length %></span>
      </div>
    </div>
    <div class="px-3 py-3 text-center opacity-75 border-bottom">
      <small
        >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur
        quidem voluptas doloribus eos fuga porro.</small
      >
    </div>
    <div class="activity my-2 p-2">
      <h5>Recent Activity...</h5>
    </div>
  </div>
  <div class="mb-3">
    <a
      href="/logout"
      class="btn btn-link text-decoration-none text-light d-flex align-items-center gap-1"
    >
      <i class="ri-logout-box-line"></i> <span> Logout </span>
    </a>
  </div>
</div>
